[Unit]
Description=patron
After=syslog.target
Requires=

[Service]
ExecStart=ton-node --config cfg_startup
Restart=on-abort
WorkingDirectory={{TONOS_SE_NODE_PATH}}
SyslogIdentifier={{NAME}}
User={{USER_NAME}}

[Install]
WantedBy=multi-user.target